In [1]:
# prabiblity of getting 3 when a die is rolled
ns = 6
na = 1
pa = na/ns
print('probabiltiy of getting 3:' , pa)

probabiltiy of getting 3: 0.16666666666666666

In [2]:
# probability of atleast getting one head whene a coin is tossed thrice
ns = 8
na = 7
pa = na/ns
print('probability of of atleast getting one head whene a coin is tossed thrice:' , pa)

probability of of atleast getting one head whene a coin is tossed thrice: 0.875

In [3]:
# a class jar contain 5 red , 3 blue and 2 green jelly beans .if a jelly beans. if a jelly bean is chosen at random from the jar ,
# what is the prob that is blue?

ns = 10
na = 7 
pa = na/ns 
print("prob og getting not blue jellybean is :" , pa)

prob og getting not blue jellybean is : 0.7

Independent and Dependent Event

In [4]:
P = 0.7 * 0.5
print("Prob that they will be alivee after 20 years :", P)

Prob that they will be alivee after 20 years : 0.35

In [5]:
def event_probability (n,s):
    return n/s

In [6]:
# A fair die is tossed twice . find the probt of getting a 4 or 5 on the first toss and a 1,2 or 3 on the second toss.
pa = event_probability(2,6)
pb = event_probability(3,6)
P = pa * pb
print("prob of getting a 4 or 5 on the first toss is :", P)

prob of getting a 4 or 5 on the first toss is : 0.16666666666666666

In [7]:
# A bag contain 5 white marbels, 3 black maebels , 2 green marbels. In each draw , a marbel is deawn from the bag and not repalced
#In three draws find the prob of obtaining white , black and green in that order.
pw = event_probability(5,10)
pb = event_probability(3,9)
pg = event_probability(2, 8)
print("the prob of obtaining white , black and green in that order is ", (pw*pb*pg))

the prob of obtaining white , black and green in that order is  0.041666666666666664

In [8]:
# sample space
cards = 52
# Calculate the prob of getting a heart or a club
hearts = 13 
clubs = 13
heart_or_club = event_probability(hearts,cards) + event_probability(clubs ,cards)
print (heart_or_club)

0.5

In [9]:
# Calculate the prob of drawing an ace , king or queen 
aces = 4
kings = 4
queens = 4
ace_king_or_queen = event_probability(aces, cards) + event_probability(kings , cards) + event_probability(queens , cards)
print(ace_king_or_queen)

0.23076923076923078

In [11]:
# calculate the prob of drawing a heart or an ace
hearts = 13
aces = 4
ace_of_hearts = 1
heart_or_ace = event_probability(hearts , cards) + event_probability(aces , cards) - event_probability(ace_of_hearts, cards)
print(round(heart_or_ace,1))

0.3

In [14]:
# red cards and a face cards 
red_cards = 26
face_cards = 12
red_face_cards = 6
red_or_face_cards = event_probability(red_cards,cards) + event_probability(face_cards, cards)- event_probability(red_face_cards , cards)
print(round(red_or_face_cards, 1))

0.6

In [15]:
# not getting 5 in throwing a die
ns = 6 
na = 1
pa = na/ns
print('prob of not  getting 5 is:' , 1 - pa)

prob of not  getting 5 is: 0.8333333333333334

In [16]:
import pandas as pd
import numpy as np
Loction = "C:/Users/pga28/Downloads/student-mat.csv"
df = pd.read_csv(Loction )
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10

In [17]:
len(df)

395

We are only concerned with the columns. absences (no. of absences ), and G3 (final grade from 0 to 20 .
let us crete

In [18]:
df['grade_A'] = np.where (df['G3']*5 >= 80 , 1 , 0)

Make another boolean column called high absences with a value of

In [19]:
df['high_absenses'] = np.where (df['absences'] >= 10 ,1, 0)

In [20]:
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,goout,Dalc,Walc,health,absences,G1,G2,G3,grade_A,high_absenses
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,1,1,3,6,5,6,6,0,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,1,1,3,4,5,5,6,0,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,2,2,3,3,10,7,8,10,0,1

Add one more col to make building

In [21]:
df['count'] = 1

And drop all col we dont

In [22]:
df = df[['grade_A' , 'high_absenses', 'count']]
df.head()

   grade_A  high_absenses  count
0        0              0      1
1        0              0      1
2        0              1      1
3        0              0      1
4        0              0      1

Now we will create a pivot table

In [23]:
final = pd.pivot_table(
     df,
    values = 'count',
    index = ['grade_A'],
     columns = ['high_absenses'],
      aggfunc = np.size,
     fill_value = 0
)

In [24]:
print(final)

high_absenses    0   1
grade_A
0              277  78
1               35   5

Calculate the prob that students will get grade A given that missing 10 or more classes 
WE now have all the data we need to do our calculation .
lets  start by calculating each individual part in the formula .
in our case P(A) is the prob of misssing 10 or more classes

# Combinatorics: Permutations, Variation & Combinations

With repetation

In [25]:
#  select 2 colour balls from a box
import itertools 
from itertools import product
box_1 = ['g','b']
perm = []
for p in itertools.product(box_1, repeat =2):
    perm.append(p)
perm

[('g', 'g'), ('g', 'b'), ('b', 'g'), ('b', 'b')]

In [26]:
# 3 colours balls in box
import itertools 
from itertools import product
box_2 = ['g','b','y']
perm = []
for p in itertools.product(box_2, repeat = 3):
    perm.append(p)
perm

[('g', 'g', 'g'),
 ('g', 'g', 'b'),
 ('g', 'g', 'y'),
 ('g', 'b', 'g'),
 ('g', 'b', 'b'),
 ('g', 'b', 'y'),
 ('g', 'y', 'g'),
 ('g', 'y', 'b'),
 ('g', 'y', 'y'),
 ('b', 'g', 'g'),
 ('b', 'g', 'b'),
 ('b', 'g', 'y'),
 ('b', 'b', 'g'),
 ('b', 'b', 'b'),
 ('b', 'b', 'y'),
 ('b', 'y', 'g'),
 ('b', 'y', 'b'),
 ('b', 'y', 'y'),
 ('y', 'g', 'g'),
 ('y', 'g', 'b'),
 ('y', 'g', 'y'),
 ('y', 'b', 'g'),
 ('y', 'b', 'b'),
 ('y', 'b', 'y'),
 ('y', 'y', 'g'),
 ('y', 'y', 'b'),
 ('y', 'y', 'y')]

Without repetation

In [27]:
import itertools 

box_1 = ['g','b']
perm = itertools.permutations(box_1)
for i in list(perm):
    print(i)

('g', 'b')
('b', 'g')

In [28]:
import itertools 

box_2 = ['g','b','y']
perm = itertools.permutations(box_2)
for i in list(perm):
    print(i)

('g', 'b', 'y')
('g', 'y', 'b')
('b', 'g', 'y')
('b', 'y', 'g')
('y', 'g', 'b')
('y', 'b', 'g')

With repetation in variations

In [29]:
box_2 = ['g', 'b','y']
perm = []
for p in itertools.product(box_2, repeat = 2):
    perm.append(p)
    
perm

[('g', 'g'),
 ('g', 'b'),
 ('g', 'y'),
 ('b', 'g'),
 ('b', 'b'),
 ('b', 'y'),
 ('y', 'g'),
 ('y', 'b'),
 ('y', 'y')]

 variation without repetition   V(n,k) = n!/(n-k)!

In [30]:
box_2 = ['g','b','y']
perm = itertools.permutations(box_2, 2)
for i in list(perm):
    print(i)

('g', 'b')
('g', 'y')
('b', 'g')
('b', 'y')
('y', 'g')
('y', 'b')

Combination with repetition   C(n,k) = (n+k-1)!/k!(n-1)!

In [31]:
from itertools import combinations_with_replacement

box_1 = ['g', 'b']
comb = combinations_with_replacement(box_1, 2)

for i in list(comb):
    print(i)

('g', 'g')
('g', 'b')
('b', 'b')

In [32]:
from itertools import combinations_with_replacement

box_1 = ['g', 'b','y', 'r']
comb = combinations_with_replacement(box_1, 2)

for i in list(comb):
    print(i)

('g', 'g')
('g', 'b')
('g', 'y')
('g', 'r')
('b', 'b')
('b', 'y')
('b', 'r')
('y', 'y')
('y', 'r')
('r', 'r')

Combination without repetition
C(n,k) = n!/k!(n-k)!

In [33]:
from itertools import combinations 
box_1 = ['b','g']
comb = combinations (box_1,2)

for i in list(comb):
    print(i)

('b', 'g')

In [34]:
from itertools import combinations 
box_1 = ['b','g','y']
comb = combinations (box_1,2)

for i in list(comb):
    print(i)

('b', 'g')
('b', 'y')
('g', 'y')